# Ignore bundler config.
/.bundle
/configurator/.bundle
/runner/.bundle

# Example builds
/examples/api_gateway_proxy/node_modules/
/examples/api_gateway_proxy/bin/
/examples/api_gateway_proxy/*.log

# Ignore the default SQLite database.
/shared/db/*.sqlite3
/shared/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/log/*
/configurator/log/*
/runner/log/*
/tmp/*
/configurator/tmp/*
/runner/tmp/*
!/log/.keep
!/configurator/log/.keep
!/runner/log/.keep
!/tmp/.keep
!/configurator/tmp/.keep
!/runner/tmp/.keep
.byebug_history
tags

# Save me from my self
docker-compose.yml
